@using Insya.NetDash
@model Insya.NetDash.Models.UserViewModel

@{
    ViewBag.Title = @Html.Localize("LogIn").ToHtmlString();
    Layout = "~/Views/Shared/base_auth.cshtml";
}

<br /><br />
@using (Html.BeginForm("Login", "Account", new { next = ViewBag.next }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h2 class="form-signin-heading">@Html.Localize("LogIn")</h2>
    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.Localize("Username").ToHtmlString(), autofocus = "" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.Localize("Password").ToHtmlString() })
    <input name="next" id="next" type="hidden" value="/main/"><br />
    <button type="submit" class="btn btn-lrg btn-success btn-block">@Html.Localize("LogIn")</button>
}