@using Insya.NetDash

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="@Url.Content("~/static/img/favicon.ico")">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/static/css/bootstrap.min.css")" rel=" stylesheet">
    <link href="@Url.Content("~/static/css/bootstrap-responsive.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/static/css/signin.css")" rel="stylesheet">
    <link href="@Url.Content("~/static/css/fonts.css")" rel="stylesheet">
    <link href="@Url.Content("~/static/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/static/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/static/css/dashboard.css")" rel="stylesheet">

    @RenderSection("style", required: false)
</head>
<body>
<!-- Static navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">NetDash</a>
            <ul class="btn btn-mini">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink(Html.Localize("LogOut").ToHtmlString(), "Logout", "Account", routeValues: null, htmlAttributes: new { id = "" })
                    }
                    else
                    {
                        @Html.ActionLink(Html.Localize("LogIn").ToHtmlString(), "Login", "Account", routeValues: null, htmlAttributes: new { id = "" })
                    }

            </ul>
        </div>
    </div>
</div>
<div class="container">
    @RenderBody()
</div>

<script src="@Url.Content("~/static/js/jquery.js")"></script>
<script src="@Url.Content("~/static/js/bootstrap.min.js")"></script>
</body>
</html>