@{
    ViewBag.Title = "Main Page";
}
@using Insya.NetDash
 
<div class="row">

    <div class="span3">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-dashboard"></i>
                <h3>@Html.Localize("GeneralInfo")</h3><i class="icon-minus"></i>
                <div id="refresh-os">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <br>
                <div style="text-align:center;">
                    <b>@Html.Localize("OS"):</b> <span class="" id="get-osname"></span><br>
                    <b>@Html.Localize("Uptime"):</b> <span class="" id="get-uptime"></span> @Html.Localize("Hours")<br>
                    <b>@Html.Localize("Hostname"):</b> <span class="" id="get-hostname"></span><br>
                    <b>@Html.Localize("Server"):</b> <span class="" id="get-kernel"></span><br>
                    <b>@Html.Localize("CPUs"):</b> <span class="" id="get-cpucount"></span> x <span class="" id="get-cputype"></span>
                    <br><br>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    <div class="span3">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-check"></i>
                <h3>@Html.Localize("CPUUsage") %</h3><i class="icon-minus"></i>
                <div id="refresh-cpu">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p></p>
                <canvas id="cpuuChart" width="270" height="180"></canvas>
                <div>
                    <span class="cpuf">@Html.Localize("Free")</span>
                    <span class="cpuu">@Html.Localize("Used")</span>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>

    <div class="span6">
        <div class="widget widget-nopad">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>@Html.Localize("MemoryUsage")</h3><i class="icon-minus"></i>
                <div id="refresh-ram">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p></p>
                <canvas id="memoryChart" width="560" height="200"></canvas>
                <div>
                    <span class="memf">@Html.Localize("Free")</span>
                    <span class="memu">@Html.Localize("Used")</span>
                </div>
            </div>
            <!-- /widget-content -->

        </div>
    </div>

</div>

<div class="row">
    <div class="span6">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-hdd"></i>
                <h3>@Html.Localize("DiskUsage")</h3><i class="icon-minus"></i>
                <div id="refresh-df">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table id="get_disk" class="table table-hover table-condensed table-bordered"></table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <div class="span6">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-bolt"></i>
                <h3>@Html.Localize("LoadAverage")</h3><i class="icon-minus"></i>
                <div id="refresh-load">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p></p>
                <canvas id="loadChart" width="560" height="200"></canvas>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span6 -->
</div>
<!-- /row -->


<div class="row">
    <div class="span6">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-level-up"></i>
                <h3>@Html.Localize("IPAdresses")</h3><i class="icon-minus"></i>
                <div id="refresh-ip">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table id="get_ips" class="table table-hover table-condensed table-bordered"></table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span -->

    <div class="span3">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-exchange"></i>
                <h3>@Html.Localize("InternetTraffic")</h3><i class="icon-minus"></i>
                <div id="refresh-ispeed">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p></p>
                <canvas id="trfChart" width="270" height="200"></canvas>
                <div>
                    <span class="netin">@Html.Localize("In")</span>
                    <span class="netout">@Html.Localize("Out")</span>
                </div>
            </div>

            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div><!-- /span -->

    <div class="span3">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-angle-up"></i>
                <h3>@Html.Localize("DiskReadsWrites")</h3><i class="icon-minus"></i>
                <div id="refresh-diskio">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <p></p>
                <canvas id="dskChart" width="270" height="200"></canvas>
                <div>
                    <span class="diskr">@Html.Localize("Reads")</span>
                    <span class="diskw">@Html.Localize("Writes")</span>
                </div>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span -->
</div>
<!-- /row -->
<div class="row">
    <div class="span6">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-group"></i>
                <h3>@Html.Localize("Online")</h3><i class="icon-minus"></i>
                <div id="refresh-online">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table id="get_users" class="table table-hover table-condensed table-bordered"></table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span -->
    <div class="span6">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-angle-down"></i>
                <h3>@Html.Localize("Netstat")</h3><i class="icon-minus"></i>
                <div id="refresh-netstat">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table id="get_netstat" class="table table-hover table-condensed table-bordered"></table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span -->
</div>
<!-- /row -->
<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>@Html.Localize("Processes") </h3><i class="icon-minus"></i>
                <div id="refresh-ps">
                </div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
                <table id="get_proc" class="table table-hover table-condensed table-bordered"></table>
            </div>
            <!-- /widget-content -->
        </div>
        <!-- /widget -->
    </div>
    <!-- /span -->
</div>
<!-- /row -->